@media only screen{
	html{
		scroll-behavior: smooth;
		overflow-x: hidden;
		font-family: "Sofia Sans Condensed", sans-serif;
/*font-family: "Montserrat", sans-serif;*/
	}
	ul{
		list-style-type: none;
	}
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body{
		background: #01CBEB;
		display: flex;
		flex-direction: column;
	}
}
@media only screen and (max-width: 1024px){
	body p{
		font-size: 1.3em;
	}
}
